
.text-blue {
    color: #218ffe !important;
}

.bg-dark {
    background-color: #212121 !important;
}

.bg-accent {
    background-color: #323232 !important;
}

.btn-primary {
    background-color: #218ffe !important;
}

@media only screen and (max-width: 600px) {
    .d-flex {
      display: column !important;
    }
  }